form{
    background-color: rgb(236, 24, 24);
    padding: 70px;
    text-align: center;
    border-radius: 40px;
}
label{
    padding: 20px;
    font-size: 20px;
}
input{
    font-family: cursive;
    width: auto;
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
}
button{
    font-family: cursive;
    text-align: center;
    padding: 10px;
    background-color: darkblue;
}